* {
    /* Remove tap feedback on mobile */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: #4178AC;

    &:hover {
	    cursor: pointer;
	    text-decoration: underline;
	}
}

html,
body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: $primary-font;
    transition: background-color 800ms;
    overflow: hidden; /* Disable dragging that can occur on mobile */
}

body {
    height: 99.9%; /* Due to a bug (box sizing?), we can't set 100% (the map gets undraggable on Safari iPhone 5S) */
}

hr {
    background-color: $light-gray;
    color: $light-gray;
    border: none;
    height: 1px;
}

line, path {
    /*shape-rendering: crispEdges;*/
    /* will keep strokes unchanged after css transform (i.e. scale) */
    vector-effect: non-scaling-stroke;
}

.axis path,
.axis line {
    shape-rendering: crispEdges;
}

.flag {
    vertical-align: middle;
}

.sub {
    position: relative;
    top: 0.8ex;
    font-size: 60%;
}

.sup {
    position: relative;
    top: -0.8ex;
    font-size: 60%;
}

.pro {
    border-radius: 0.25rem;
    background-color: gold;
    color: rgb(76,76,76);
    font-weight: bold;
    padding: 0.2rem;
    font-size: 0.8em;
    margin-left: 0.4em;
    line-height: 0.8em;
    margin-bottom: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;

    >svg {
        fill: rgb(76,76,76);
        height: 16px;
        width: 16px;
        font-size: inherit;
        margin-right: 0.1em;

        >use {
        height: 16px;
        width: 16px;
        }
    }
}

/* custom scrollbars in chrome*/
div::-webkit-scrollbar {
    position: relative;
    width: 6px;
}
div::-webkit-scrollbar-track-piece {
    background: $light-gray;
    border-radius: 3px;
}

div::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 3px;
}

@keyframes appear-from-top {
  0% {
    top: -40px;
  }
  15%,85% {
    top: 0;
  }
  100% {
    top: -40px;
  }
}
