/* Colors */
$white: #FFFFFF;
$black: #000000;
$lighter-gray: #FAFAFA;
$light-gray: #EFEFEF;
$light-green: #95f395;
$green: #009800;

/* Typography */
$primary-font: "Open Sans", sans-serif;
$headline-font: "Euclid Triangle", "Open Sans", sans-serif;

/* Breakpoint sizes */
$breakpoints: (
	'small': '(max-width: 767px)',
	'medium-up': '(min-width: 768px)',
);