gha-creds-*.json
*.pyc
*.env
**/node_modules
.ipynb_checkpoints/
*.pyproj
*.sln
*.suo
*.user
/.vs/config
/App_Data/PublishProfiles
*.publishproj
.DS_Store
/.vs
/.venv
Thumbs.db
dist
parsers/.venv

# Ignore top level vscode folder as it is symlinked
#.vscode
.vscode/launch.json

## Pycharm IDE
.idea
