*.pyc
*.env
web/public/dist
web/node_modules
.ipynb_checkpoints/
*.pyproj
*.sln
*.suo
*.user
/.vs/config
/App_Data/PublishProfiles
*.publishproj
.DS_Store
/.vs
/.venv
Thumbs.db
mobileapp/*.zip
dist

## Pycharm IDE
.idea
