# Files and paths to ignore

.prettierignore
pnpm-lock.yaml
.earthlyignore

.venv
**/parsers/test/mocks
.pytest_cache/

mobileapp/android
mobileapp/ios

web/dist/
web/config/
web/public/client-version.json

web/.husky/_

mockserver/public

.github/ISSUE_TEMPLATE/

LICENSE.md
LICENSE

node_modules
.DS_Store
.eslintcache
coverage
.nyc_output
cypress/videos
cypress/screenshots