.faq-panel {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.faq-header {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    align-items: flex-end;
    height: 30px;
    padding-top: 1rem;

    .left-panel-back-button{
        position: initial;
        margin-right: 10px;
    }
}

.faq {
    flex: 1;
    overflow-y: scroll;
}

.faq-container {
    display: flex;
    flex-direction: column;
    padding: 10px 15px 0px 7px;

    .question-group-header{
        padding: 15px 0px 5px 10px;
    }

    .question-answer-container {
        display: flex;
        flex-direction: column;
    }

    .question {
        font-size: 0.95rem;
        padding: 5px 0;
        cursor: pointer;
        display: flex;
        align-items: center;

        span {
            padding-left: 5px;
        }

        &:hover {
            color: #0A263C;
        }
    }

    .answer {
        display: block;
        padding-right: 5px;
        padding-left: 10px;
        margin-left: 11px;
        margin-bottom: 5px;
        border-left: 1px solid grey;
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
}

.mobile-faq .faq-container{
    padding: 0 0 1rem 0;
}

.mobile-faq-header{
    text-align: center;
    font-size: 1.6rem;
    font-family: $primary-font;
    padding-top: 25px;
    padding-bottom: 5px;
}