.modal-background-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
    zoom: 1;
	filter: alpha(opacity=10);
    opacity: 0.1;
    background-color: $black;

    @include respond-to('small') {
        opacity: 0;
    }
}

.modal {
    display: flex;
    max-width: 880px;
    width: 100%;
    height: 488px;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include respond-to('small') {
        width: 100%;
        left: 0;
        bottom: 56px;
        top: auto;
        transform: none;
        height: 420px;

        .brand-text {
            height: 25%;
        }
    }

    .modal-left-button-container,
    .modal-right-button-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 75px;
        width: 100%;

        @include respond-to('small') {
            position: absolute;
            bottom: 32px;
            margin: 0;
        }
    }

    .modal-left-button-container {
        align-items: flex-start;
        margin-left: 10px;

        @include respond-to('small') {
            left: 10px;
            z-index: 999;
        }
    }

    .modal-right-button-container {
        align-items: flex-end;
        margin-right: 10px;

        @include respond-to('small')  {
            right: 10px;
        }
    }

    .modal-close-button-container{
        position: absolute;
        padding:10px;
        right:0;
    }

    .modal-left-button,
    .modal-right-button,
    .modal-close-button {
        background-color: white;
        height: 48px;
        width: 48px;
        border: none;
        border-radius: 25px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        >svg {
            fill: #333;
            width: 24px;
            height: 24px;
            fill: $black;
        }
    }

    .modal-close-button>svg{
        fill: #FFF
    }

    .modal-left-button,
    .modal-right-button {
        &:focus {
            outline: 0;
        }

        &.hidden {
            display: none;
        }

        &.green {
            >svg {
              fill: $green;
            }

            &:hover {
                background-color: $light-green;
                >svg {
                    fill: inherit;
                }

            }
        }

        @include respond-to('medium-up') {
            &:hover {
                background-color: rgb(220, 220, 220);
            }
        }

        @include respond-to('small') {
            background-color: #333333;
            color: $white;
            height: 32px;
            width: 32px;

            &.green {
                background-color: $green;
                color: $white;

                &:hover {
                    background-color: $light-green;
                    color: inherit;
                }
            }
        }
    }

    .modal-close-button {
        height: 36px;
        width: 36px;
        background-color: #333333;
        color: white;

         @include respond-to('small') {
            background-color: $white;
            color:#333333 ;
         }
    }

    .modal-header {
        height: 58%;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include respond-to('small') {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            background-size: cover;
            background-position: center;
            height: 40%;
            min-height: 200px;
        }
    }

    .modal-footer {
        height: 40px;
        position: absolute;
        bottom: -60px;
        left: 50%;
        transform: translate(-50%);

        .modal-footer-circle {
            background-color: rgb(145, 145, 145);
            border-radius: 50%;
            display: inline-block;
            height: 8px;
            margin: 0 4px;
            width: 8px;

            &.highlight{
                background-color: $white;
            }
        }

        @include respond-to('small') {
            bottom: 0;
            height: 36px;

            .modal-footer-circle {
                width: 6px;
                height: 6px;
            }
        }
    }

    .modal-body {
        flex: 1;
        position: relative;
        border-radius: 15px;
        background-color: #FAFAFA;
        color: white;
        max-width: 700px;
        box-shadow: 0 0 30px 0 rgba(0,0,0,0.15);

        @include respond-to('small') {
            max-width: inherit;
            border-radius: 8px 8px 0 0;
            box-shadow: 0 -10px 30px 0 rgba(0,0,0,0.15);
        }
    }

    .modal-text {
        color:#000000;
        font-size: 0.9rem;
        line-height: 1.5rem;
        padding: 25px 55px;
        text-align: center;
        height: 32%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 1.5rem;
            margin-top: 0;
        }

        h1,
        h2 {
            font-weight: normal;
        }

        @include respond-to('small') {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 16px 16px;
            height: 40%;
            font-size: 0.75rem;
            line-height: 1.125rem;

            h1 {
                font-size: 2rem;
            }

            h2 {
                /*font-size: 1rem;*/
                font-size: 1.125rem;
                line-height: 1.375rem;
            }
        }
    }

    .logo-header {
        background-size: 180px !important;
        background-position-y: 70% !important;
    }

    .brand-text {
        padding-top: 0;
        line-height: 3rem;
        font-family: "Open Sans", sans-serif;
    }
}
