.layer-buttons-container {
    position: absolute;
    right: 16px;
    top: 151px;
    display: flex;
    flex-direction: column;

    & > div{
        position: relative;
    }

    @include respond-to('small') {
        top: 148px;   
    }
}

.layer-button {
    background-color: $lighter-gray;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 58% 57%;
    border: none;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
        background-color: $white;
        box-shadow: 2px 0px 20px 0px rgba(0,0,0,0.25);
    }
}

.controls-container {
    position: absolute;
    top: 20px;
    right: 16px;

    @include respond-to('small') {
        top: 16px;
    }
}

.layer-button-tooltip {
    position: absolute;
    left: -168px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 4px;
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
    transition: opacity 0.4s, visibility 0.4s, transform 0.4s;

    .tooltip-container {
        display: flex;
        align-items: center;
    }

    .tooltip-text {
        background-color:$lighter-gray;
        color: black;
        border-radius: 4px;
        text-align: center;
        font-size: 0.9rem;
        padding: 5px 10px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    }

    .arrow {
        display:none;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7.5px 0 7.5px 10px;
        border-color: transparent transparent transparent $lighter-gray;
    }

    &.hidden {
        visibility: hidden;
        opacity: 0;
        transform: translateX(10px);
    }
}

#language-select-container {
    background-color:$lighter-gray;
    color: black;
    border-radius: 4px;
    font-size: 0.9rem;
    padding: 5px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    position: absolute;
    left: -184px;
    width: 150px;
    top: 4px;
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
    transition: opacity 0.4s, visibility 0.4s, transform 0.4s;

    &.hidden {
        visibility: hidden;
        opacity: 0;
        transform: translateX(10px);
    }

    li {
        margin: 0;
        padding: 0;
        list-style: none;

        &:hover {
            cursor: pointer;
        }
    }
}

/* 
    custom "color blind mode" checkbox and others
    adopted with tweeks from source: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp 
*/

/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 14px;
    font-size: 18px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    border-radius: 6px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #074ddb;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 7px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
