.layer-buttons-container {
  position: absolute;
  right: 16px;
  top: 197px;
  display: flex;
  flex-direction: column;

  @include respond-to('small') {
    top: 148px;
  }
}

.layer-button {
  background-color: $lighter-gray;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 58% 57%;
  border: none;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    background-color: $white;
    box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 0.25);
  }
}

.controls-container {
  position: absolute;
  top: 20px;
  right: 16px;

  @include respond-to('small') {
    top: 16px;
  }
}

.layer-button-tooltip {
  position: absolute;
  left: -168px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 4px;
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 0.4s, visibility 0.4s, transform 0.4s;

  .tooltip-container {
    display: flex;
    align-items: center;
  }

  .tooltip-text {
    background-color: $lighter-gray;
    color: black;
    border-radius: 4px;
    text-align: center;
    font-size: 0.9rem;
    padding: 5px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  }

  .tooltip-error {
    color: red;
  }

  .arrow {
    display: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent $lighter-gray;
  }

  &.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateX(10px);
  }
}
