.layer-toggle {
    font-size: 0.7rem;
}
.colorbar {
    height: 30px;
    /* This will make sure children are relative to 1em */
    font-size: 1rem;
}

.floating-legend-container {
    position: absolute;
    bottom: 0px;
    right: 0px;
    float: left;
    background-color: $lighter-gray;
    border-radius: 6px;
    padding: 12px 10px 10px 10px;
    margin: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);

    div {
        color: black;
        padding: 2px 6px 5px 6px;
        font-size: 0.8rem;
    }

    .tick {
        text {
            fill: $black;
        }
    }

    .tick line,
    rect.border {
        stroke: none;
    }

    @include respond-to('medium-up') {
        right: 0;
    }

    @include respond-to('small') {
        &.mobile-collapsed {
            right: 0;
            width: 90px;
            height: 18px;
            transition: width 0.4s, height 0.4s;
            padding: 6px 10px 10px;

            .floating-legend-mobile-header {
                text-align: left;
            }
        }
    }
}
    
.floating-legend-mobile-header{
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;

    @include respond-to('medium-up') {
        display: none;
    }

    .toggle-legend-button{
        font-size: 24px;
        position: absolute;
        right: 5px;
        top: 5px;
    }
}

.floating-legend {
    width: 15em;
    padding-top: 7px;

    .colorbar{
        width: 100%;
    }
}
