@font-face {
  font-family: 'Euclid Triangle';
  font-weight: normal;
  src: local('EuclidTriangle'),
  local('Euclid Triangle'),
  local('EuclidTriangle-Regular'),
  url(../fonts/EuclidTriangle-Regular.woff) format('woff');
}
