@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans'),
  local('Open Sans'),
  local('OpenSans-Regular'),
  url(../fonts/OpenSans-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans Bold'),
  local('Open Sans Bold'),
  local('OpenSans-Bold'),
  url(../fonts/OpenSans-Bold.ttf) format('truetype');
  font-weight: bold;
}
