.env.default
*.keystore
keystore.properties

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/metadata
fastlane/test_output
fastlane/fastlane-key.json
gc_keys.json

# ios build files
Electricity Maps.ipa
*.cer
*.certSigningRequest
*.p12
*.mobileprovision