<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tmrow.electricitymap" version="1.3.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>electricityMap</name>
    <description>
        electricityMap is a live visualization of where your electricity comes from and how much CO2 was emitted to produce it.
    </description>
    <author email="hello@electricitymap.org" href="https://www.electricitymap.org">
        electricityMap
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="https://www.facebook.com/v*/plugins/*" />
    <allow-navigation href="https://platform.twitter.com/*" />
    <allow-navigation href="about:*" />
    <platform name="android">
        <resource-file src="google-services.json" target="app/google-services.json" />
        <preference name="CodePushDeploymentKey" value="pq5LiNRfRy4cBGU-a5Njke45jUclEJ-bjzkpG" />
        <!-- uncomment for staging build instead  -->
        <!-- <preference name="CodePushDeploymentKey" value="qKUKXX9JQbat9M56RY54obDyV02BEJ-bjzkpG" /> -->
        <preference name="AndroidLaunchMode" value="singleInstance" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="SplashScreenDelay" value="0" />
        <preference name="StatusBarStyle" value="default" />
        <preference name="android-minSdkVersion" value="19" />
        <preference name="android-targetSdkVersion" value="29" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <resource-file src="GoogleService-Info.plist" />
        <preference name="CodePushDeploymentKey" value="4uQpHGlWRd7qOyIq-JNAhvjsYXcsEJ-bjzkpG" />
        <!-- uncomment for staging build instead  -->
        <!-- <preference name="CodePushDeploymentKey" value="EgyH71oYOglC8w-se8f-EDACw0KtEJ-bjzkpG" /> -->
        <preference name="StatusBarStyle" value="default" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="AllowUntrustedCerts" value="true" />
        <preference name="InterceptRemoteRequests" value="all" />
        <preference name="allowUniversalAccessFromFileURLs" value="true" />
        <preference name="allowFileAccessFromFileURLs" value="true" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
    </platform>
    <universal-links>
        <host name="app.electricitymap.org" scheme="https" />
        <host name="app.electricitymap.org" scheme="http" />
    </universal-links>
    <plugin name="cordova-plugin-globalization" spec="^1.11.0" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.1.0" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.3" />
</widget>
