<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tmrow.electricitymap" version="1.1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>electricityMap</name>
    <description>
        electricityMap is a live visualization of where your electricity comes from and how much CO2 was emitted to produce it.
    </description>
    <author email="hello@tmrow.com" href="https://www.tmrow.com">
        Tomorrow
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="https://www.facebook.com/v*/plugins/*" />
    <allow-navigation href="https://platform.twitter.com/*" />
    <platform name="android">
        <resource-file src="google-services.json" target="google-services.json" />
        <preference name="CodePushDeploymentKey" value="pq5LiNRfRy4cBGU-a5Njke45jUclEJ-bjzkpG" />
        <preference name="AndroidLaunchMode" value="singleInstance" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="SplashScreenDelay" value="0" />
        <preference name="StatusBarStyle" value="default" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <resource-file src="GoogleService-Info.plist" />
        <preference name="CodePushDeploymentKey" value="4uQpHGlWRd7qOyIq-JNAhvjsYXcsEJ-bjzkpG" />
        <preference name="StatusBarStyle" value="default" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
    </platform>
    <universal-links>
        <host name="electricitymap.org" scheme="https" />
        <host name="electricitymap.org" scheme="http" />
        <host name="www.electricitymap.org" scheme="https" />
        <host name="www.electricitymap.org" scheme="http" />
    </universal-links>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-globalization" spec="^1.0.9" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.1.0" />
    <plugin name="cordova-universal-links-plugin" spec="https://github.com/flipflopapp/cordova-universal-links-plugin" />
    <plugin name="cordova-plugin-facebook4" spec="^1.9.1">
        <variable name="APP_ID" value="1267173759989113" />
        <variable name="APP_NAME" value="electricityMap" />
    </plugin>
    <plugin name="cordova-plugin-firebase-analytics" spec="^0.13.0">
        <variable name="FIREBASE_VERSION" value="11.6.+" />
    </plugin>
    <plugin name="cordova-plugin-statusbar" spec="^2.4.1" />
    <plugin name="cordova-plugin-code-push" spec="^1.11.11" />
    <plugin name="cordova-plugin-file" spec="^4.3.3" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.6.3" />
    <plugin name="cordova-plugin-zip" spec="^3.1.0" />
    <engine name="android" spec="^6.4.0" />
    <engine name="ios" spec="^4.5.4" />
</widget>
