/* Country History Graphs */
.country-history {
    position: relative;
    margin-top: 1em;

    small{
        display: inline-flex;
        vertical-align: middle;
        align-items: center;
        >svg{
            min-width: 16px;
            width: 16px;
            height: 16px;
        }
    }

    >svg {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 1.2em;
        }
    }
    path {
        /*shape-rendering: crispEdges;*/
    }
    .vertical-line {
        stroke: lightgray;
        stroke-width: 1;
        opacity: 1.0;
    }
    .horizontal-line {
        stroke: lightgray;
        stroke-width: 1;
        stroke-dasharray: 5;
        opacity: 0.7;
    }
}

.country-col-headline {
    font-size: 0.85em;
    padding: 0.75em 0 0 0;
    line-height: 1.25em;
    margin-top: auto;
    margin-bottom: auto;
}

.country-col {
    text-align: center;
    width: 33.3%;

    .country-col-headline + div {
        margin-top: 0.375rem;
    }

    .country-col-subtext {
        margin-top: 0.375rem;
        font-size: 0.5rem;
        line-height: 0rem;
    }
    .country-col-box {
        margin: 0 auto;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        color: #fff;
        border-radius: 1rem;
    }
    &.country-lowcarbon-wrap .country-col-box,
    &.country-renewable-wrap .country-col-box {
        border:1px solid white;
    }
}

.country-toggle-emissions {
    text-align: center;
    margin: 1rem 0 1rem;
    display: flex;
    justify-content: space-around;

    a {
        padding: 0.75rem 1.25rem;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 0.25rem;
        text-transform: capitalize;

        &:hover {
            text-decoration: none;
            background: rgba(0, 0, 0, 0.2);
        }
    }
}

.country-show-emissions-wrap {
    margin: 1.2rem 0 0 0;
    font-size: 1.1em;

    .menu {
        font-size: smaller;
        text-align: center;

        a {
            font-size: smaller;

            &.selected {
                pointer-events: none;
                font-weight: bold;
                font-size: larger;
            }
        }
    }
}
