.zone-time-slider {
    bottom: 0;
    padding: 12px 24px;
    background: white;
    left: 10px;
    bottom: 10px;
    border-radius: 15px;
    text-align: center;
    overflow-y: visible;
    width: calc((14vw + 16rem) - 70px); // ensure it is smaller than countrypanel
    z-index: 999; // TODO: find the needed one
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.66) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    .time-slider-axis-container {
        width: 100%;
        height: 20px;
        overflow: visible;
    }

	.domain {
	    display: none;
	}

    @include respond-to('small') {
        padding-top: 4px;
        background-color: $lighter-gray;
        padding-bottom: 10px;
        padding-top: 20px;
        padding-left: 12px;
        padding-right: 12px;
        box-sizing: border-box;
        bottom: 0px;
        left: 0px;
        width: 100%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

.time-slider-axis .tick {
    font-size: .7em;
    font-family: "Open Sans", sans-serif;
    line { opacity: 0.5; }
    @include respond-to('small') {
      font-size: .6em;
  }
}

.time-slider-input {
    -webkit-appearance: none;
    width: 100%;
    margin-top: 5px;
    height: 26px;
    background: transparent;
    padding: 0;
    overflow: visible;
    border: none;
    margin: 5px 0;

    &:focus {
    	outline: none;
  	}
}

// Sliders needs to be styled independently for different browsers:
// https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/

// Using mixins here as webkit doesn't show any styling if the two classes are grouped (like ".one, .two {}")
@mixin thumb {
    -webkit-appearance: none;
    height: 26px;
    width: 26px;
    border-radius: 17px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -8px;
    transition: box-shadow 0.4s;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid lightgray;
    background-position: center center;
    background-size: 12px;
    background-repeat: no-repeat;

    &:hover {
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    }
}

@mixin track {
    width: 100%;
    height: 12px;
    border-radius: 4px;
    cursor: pointer;
    background: #f0f0f0;
    // background: var(--time-gradient);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

.time-slider-input {
  // Webkit
    &.night::-webkit-slider-thumb, &.night::-webkit-slider-thumb:hover {
      background-image: url("../images/slider-thumb.svg");
      border: none;
      box-shadow: 0.1px 0.1px 6px rgba(0, 0, 0, 0.16);
    }
    &.day::-webkit-slider-thumb {
      border: none;
      box-shadow: 0.1px 0.1px 6px rgba(0, 0, 0, 0.16);
      background-image: url("../images/slider-thumb.svg")
    }
    &::-webkit-slider-thumb {
      @include thumb;
    }
    &::-webkit-slider-runnable-track {
      @include track;
    }
    // Firefox
    &.night::-moz-range-thumb {
      background-image: url("../images/timeslider-night.svg");
    }
    &.day::-moz-range-thumb {
      background-image: url("../images/timeslider-sun.svg");
    }
    &::-moz-range-thumb {
      @include thumb;
    }
    &::-moz-range-track {
      @include track;
    }
  }


// IE
.time-slider-input::-ms-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.time-slider-input::-ms-fill-lower {
    border: 2px solid lightgray;
    border-radius: 2.6px;
}

.time-slider-input::-ms-fill-upper {
    border: 2px solid lightgray;
    border-radius: 2.6px;
}

.time-slider-input::-ms-thumb {
    border: 1px solid gray;
    height: 25px;
    width: 25px;
    border-radius: 17px;
    background: #ffffff;
    cursor: pointer;
}
