arrow==0.5.0
beautifulsoup4==4.5.1
Cython==0.23.4
opbeat==3.5.1
pandas==0.16.2
pygrib==2.0.1
pyiso==0.3.15
pymemcache==1.4.0
pymongo==3.2.2
python-snappy==0.5
requests==2.10.0
schedule==0.3.2
xlrd==1.0.0
-e git+https://github.com/gaelenh/python-statsd-client.git#egg=statsd-client
