#footer {
	@include respond-to('small') {
    	display: table-cell;
    }
}

#tab {
    position: relative;
    background-color:$lighter-gray;
		fill-opacity: 0.5;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.10);
    z-index: 2;
    flex: 0 0 auto;

    @include respond-to('medium-up') {
    	display: none;
    }

    #tab-content {
    	.list-item {
		    display: flex;
		    align-items: center;
		    justify-content: space-between;
		    text-align: center;
		    flex-direction: column;
		    width: 50%;
		    font-size: 12px;
		    padding-bottom: 10px;
		    padding-top: 8px;
		    font-family: $primary-font;
		    transition: padding-top 0.4s;
		    font-family: $headline-font;

		    img {
		    	filter: brightness(0%) invert(0.5);
		    }

		    &.active {
					color: black;
			    font-size: 14px;
					fill-opacity: 1;
			    padding-top: 6px;

			    img {
			    	filter: brightness(0%) invert(0);
			    }
		    }
		}

		a {
			color: rgba(0,0,0,0.5);

			.tab-label {
				font-size: 12px;
			}

			.tab-icon-custom {
			    width: 24px;
			    height: 24px;
			}

			&:hover {
				color: $black;
			    text-decoration: none;
			}
		}

		i {
		    font-size: 24px;
		}
    }
}

#tab-content {
    display: flex;
    height: 56px;
}

.mobile-info-tab {
    padding: 1rem;
    line-height: normal !important;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    flex: 1 1 0px;

    @include respond-to('medium-up') {
    	padding-top: 0.5rem;
    }

    p {
	    margin: 0.6rem 0;
	}

	.info-text p {
	    margin: 0.6rem 0;
	}
}

.info-text p {
    margin: 0.4rem 0;
    line-height: 1.2rem;
}