html, body {    
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    font-family: sans-serif;
    background-color: #283640;
}

#connection-warning {
    position: fixed;
    display: block;
    z-index: 99;
    height: 40px;
    left: 0;
    transition: all 0.5s ease;
    width: 100%;
}

#connection-warning.show {
    top: 0;
}

#connection-warning.hide {
    top: -60px; 
}

#connection-warning .inner {
    display: block;
    margin: 0 auto;
    background-color: red;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 0.8em;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    max-width: 600px;
}

.contribute-text {
    background-color: rgba(70, 70, 70, 0.95);
    color: lightgray;
    display: inline-block;
    font-size: 0.6em;
    padding: 3px 5px;
}
.watermark {
    padding: 15px;
    opacity: 0.5;
    transition: all 0.5s ease;
}
.watermark:hover {
    opacity: 1;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    opacity: 0.7;
    background: black url('libs/loading.svg') no-repeat center center;
}
.map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}
.land {
    fill: #ccc;
    fill-opacity: 0.8;
    stroke: #3b3b3b;
}
.sea {
    background-color: #283640;
}
.wind {
    pointer-events: none;
}
.solar {
    pointer-events: none;
}
.graticule {
    stroke: #185c96;
    stroke-width: 0.3px;
}

.content {
    display: table;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.footer {
    display: table-footer-group;
    pointer-events: all;
}
.panel-container {
    margin: 10px;
    padding: 10px;
    background-color: rgba(70, 70, 70, 0.95);
    border: 1px solid grey;
    line-height: 1.7em;
    pointer-events: all;
}
.panel-container > svg {
    display: block;
}
.panel-container, panel-container.text {
    font-size: 0.7em;
    color: lightgray;
    fill: lightgray;
}
.country-table {
    width: 100%;
}
.country-table-initial-text {
    font-size: 1.1em;
    color: darkgrey;
}
.country-emission-intensity {
    font-weight: bold;
}
.country-emission-rect {
    display: inline-block;
    border: 1px solid gray;
    width: 8px;
    height: 8px;
}

.colorbar-unit {
    color: darkgray;
    overflow: auto;
    display: inline-block;
    height: 100%;
    width: 70px;
    text-align: right;
    font-size: 1.3em;
}
.legend {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px;
    font-size: 0.5em;
}
.co2-legend {
    height: 30px;
}
.co2-colorbar {
    height: 100%;
    width: 300px;
}
.wind-legend {
    height: 30px;
}
.wind-colorbar {
    height: 100%;
    width: 300px;
}

a {
    text-decoration: none;
    color: lightblue;
}
a:hover {
    text-decoration: underline;
}

@keyframes appear-from-top {
  0% {
    top: -40px;
  }
  15%,85% {
    top: 0px;
  }
  100% {
    top: -40px;
  }
}

div.fb-share-button, iframe.twitter-share-button, iframe.__slackin {
    vertical-align: middle
}
