@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Inter;
    font-weight: 400 700;
    src: url('/fonts/Inter.var.woff2') format('woff2-variations');
    font-display: swap;
  }
  @font-face {
    font-family: Poppins;
    font-style: normal;
    /* font-weight: 500; */
    font-display: swap;
    src: url('/fonts/Poppins-Medium.woff2') format('woff2');
  }

  /* Set defaults */
  body {
    @apply antialiased;
    @apply bg-white dark:bg-gray-800;
    @apply text-gray-900 dark:text-gray-200;
    /* Disables mobile touch specific blue user select effect */
    -webkit-tap-highlight-color: transparent;
  }
}
*::-webkit-scrollbar {
  /*remove scrollbar track chrome*/
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 4px solid transparent;
  height: 50px;
  width: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: content-box;
}
* {
  scrollbar-color: #404040b3 transparent; /*remove scrollbar track firefox*/
}

/* Custom styling for react-spring-bottom-sheet */
.dark [data-rsbs-root] {
  --rsbs-bg: theme(colors.gray.900);
  --rsbs-handle-bg: rgba(255, 255, 255, 0.2);
}
[data-rsbs-header] {
  padding-bottom: 0;
  box-shadow: none;
}
[data-rsbs-scroll] {
  /* Disables scrolling, as we want users to open the sheet instead of scrolling inside it */
  overflow: hidden;
}

.translate-x-radix-toast-swipe-move-x {
  transform: translateX(var(--radix-toast-swipe-move-x));
}

.translate-x-radix-toast-swipe-end-x {
  transform: translateX(var(--radix-toast-swipe-end-x));
}

@media screen and (max-width: 768px) {
  .maplibregl-ctrl {
    display: none !important;
  }
}

button.maplibregl-ctrl-zoom-in.mapboxgl-ctrl-zoom-in {
  width: 33px;
  height: 32px;
}
button.maplibregl-ctrl-zoom-out.mapboxgl-ctrl-zoom-out {
  width: 33px;
  height: 32px;
  border-color: lightgray;
}

.dark button.maplibregl-ctrl-zoom-out.mapboxgl-ctrl-zoom-out {
  border-color: gray;
}
.dark .maplibregl-ctrl.maplibregl-ctrl-group.mapboxgl-ctrl.mapboxgl-ctrl-group {
  background-color: theme(colors.gray.900) !important;
}
.dark button.maplibregl-ctrl-zoom-in.mapboxgl-ctrl-zoom-in > span {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' viewBox='0 0 29 29' xmlns='http://www.w3.org/2000/svg' fill='%23FFF'%3E%3Cpath d='M14.5 8.5c-.75 0-1.5.75-1.5 1.5v3h-3c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h3v3c0 .75.75 1.5 1.5 1.5S16 19.75 16 19v-3h3c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-3v-3c0-.75-.75-1.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.dark button.maplibregl-ctrl-zoom-out.mapboxgl-ctrl-zoom-out > span {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' viewBox='0 0 29 29' xmlns='http://www.w3.org/2000/svg' fill='%23FFF'%3E%3Cpath d='M10 13c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h9c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-9z'/%3E%3C/svg%3E") !important;
}

html,
body,
#root {
  @apply h-full;
}

[data-rsbs-header] {
  padding-top: 20px !important;
  padding-bottom: 0 !important;
}

[data-rsbs-header]:before {
  top: 8px !important;
}
:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

noscript div {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
}

noscript img {
  max-width: 300px;
}
