@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Inter-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/Inter-Medium.woff2') format('woff2');
  }
  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Inter-Bold.woff2') format('woff2');
  }
  @font-face {
    font-family: Poppins;
    font-style: normal;
    /* font-weight: 500; */
    font-display: swap;
    src: url('/fonts/Poppins-Medium.woff2') format('woff2');
  }

  /* Set defaults */
  html {
    @apply antialiased;
    @apply bg-white dark:bg-gray-800;
    @apply text-gray-900 dark:text-gray-200;
  }
}

button.maplibregl-ctrl-zoom-in.mapboxgl-ctrl-zoom-in {
  width: 33px;
  height: 32px;
}
button.maplibregl-ctrl-zoom-out.mapboxgl-ctrl-zoom-out {
  width: 33px;
  height: 32px;
  border-color: lightgray;
}

@media (prefers-color-scheme: dark) {
  button.maplibregl-ctrl-zoom-out.mapboxgl-ctrl-zoom-out {
    border-color: gray;
  }
  .maplibregl-ctrl.maplibregl-ctrl-group.mapboxgl-ctrl.mapboxgl-ctrl-group {
    background-color: rgb(17 24 39) !important;
  }
  button.maplibregl-ctrl-zoom-in.mapboxgl-ctrl-zoom-in > span {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' viewBox='0 0 29 29' xmlns='http://www.w3.org/2000/svg' fill='%23FFF'%3E%3Cpath d='M14.5 8.5c-.75 0-1.5.75-1.5 1.5v3h-3c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h3v3c0 .75.75 1.5 1.5 1.5S16 19.75 16 19v-3h3c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-3v-3c0-.75-.75-1.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }
  button.maplibregl-ctrl-zoom-out.mapboxgl-ctrl-zoom-out > span {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' viewBox='0 0 29 29' xmlns='http://www.w3.org/2000/svg' fill='%23FFF'%3E%3Cpath d='M10 13c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h9c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-9z'/%3E%3C/svg%3E") !important;
  }
}
html,
body,
#root {
  @apply h-full;
}
