@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Inter;
    font-weight: 400 700;
    src: url('/fonts/Inter.var.woff2') format('woff2-variations');
    font-display: swap;
  }
  @font-face {
    font-family: Poppins;
    font-style: normal;
    /* font-weight: 500; */
    font-display: swap;
    src: url('/fonts/Poppins-Medium.woff2') format('woff2');
  }

  /* Set defaults */
  body {
    @apply antialiased;
    @apply bg-white dark:bg-gray-800;
    @apply text-gray-900 dark:text-gray-200;
    /* Disables mobile touch specific blue user select effect */
    -webkit-tap-highlight-color: transparent;
  }
  h1 {
    @apply text-xl;
    @apply font-poppins;
    @apply font-medium;
  }
  h2 {
    @apply text-base;
    @apply font-poppins;
    @apply font-medium;
  }
  h3 {
    @apply text-sm;
    @apply font-poppins;
    @apply font-medium;
  }
  p {
    @apply text-sm;
    @apply font-inter;
  }
}
*::-webkit-scrollbar {
  /*remove scrollbar track chrome*/
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 4px solid transparent;
  height: 50px;
  width: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: content-box;
}
* {
  scrollbar-color: #404040b3 transparent; /*remove scrollbar track firefox*/
}

/* Custom styling for react-spring-bottom-sheet */
.dark [data-rsbs-root] {
  --rsbs-bg: theme(colors.gray.800);
  --rsbs-handle-bg: rgba(255, 255, 255, 0.2);
}
[data-rsbs-header] {
  padding-bottom: 0;
  box-shadow: none;
}
[data-rsbs-scroll] {
  /* Disables scrolling, as we want users to open the sheet instead of scrolling inside it */
  overflow: hidden;
}

.translate-x-radix-toast-swipe-move-x {
  transform: translateX(var(--radix-toast-swipe-move-x));
}

.translate-x-radix-toast-swipe-end-x {
  transform: translateX(var(--radix-toast-swipe-end-x));
}

html,
body,
#root {
  @apply h-full;
}

[data-rsbs-header] {
  padding-top: 20px !important;
  padding-bottom: 0 !important;
}

[data-rsbs-header]:before {
  top: 8px !important;
}
:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

noscript div {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
}

noscript img {
  max-width: 300px;
}

@keyframes loading-icon-spinner-animation {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
