{
  "root": true,
  "globals": {
    "ELECTRICITYMAP_PUBLIC_TOKEN": "readonly",
    "VERSION": "readonly",
    "locale": "readonly",
    "codePush": "readonly",
    "device": "readonly",
    "cordova": "readonly",
    "resolvePath": "readonly",
    "universalLinks": "readonly",
    "InstallMode": "readonly",
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
  },
  "rules": {
    "import/prefer-default-export": "off",
    "jsx-a11y/anchor-is-valid": "warn",
    "jsx-a11y/click-events-have-key-events": "warn",
    "jsx-a11y/no-noninteractive-element-interactions": "warn",
    "jsx-a11y/no-static-element-interactions": "warn",
    "max-len": "warn",
    "no-nested-ternary": "warn",
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle": "warn",
    "react/jsx-one-expression-per-line": "warn",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/prop-types": "warn"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".json"]
      }
    }
  }
}
