node_modules
.DS_Store
dist
dist-ssr
*.local
.eslintcache
coverage
.nyc_output
cypress/videos
cypress/screenshots
config
public/client-version.json
public/sitemap.xml
storybook-static
.swc

tsconfig.node.tsbuildinfo
# Sentry Config File
.env.sentry-build-plugin
