# All files in here should also be included in .prettierignore at the top level.

# Needed for lint staged.
.prettierignore
Earthfile
.earthlyignore

dist/
config/
public/images/
.husky/_
pnpm-lock.yaml

LICENSE.md
LICENSE
